.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "navbar navbar navbar navbar"
    "sidebar main main main";
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  padding: 1em;


  .main-interno {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 6px black;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
  }
}



//configuara styled de sweealert2
.popup-classx {
  border-radius: 25px;
}

.actions-class {
  border-radius: 25px !important;
}

.confirm-button-class {
  border-radius: 20px !important;
}
.cancel-button-class {
  border-radius: 20px !important;
}
