.sidebar {
    padding: 1em;
    text-align: center;
    width: 25%;
    height: calc(100vh - 56px);
    background-color: #42424242;

    .grupo-link {
        justify-content: start;
        a {
            text-align: center;
            color: #0a97b0;
            font-size: 1.2em;
            transition: 0.5s;
            text-shadow: 1px 0px 0px black;
            
            &:hover {
                color: #24a19c;
                font-weight: bold;
            }

        }
    }
}